AIS/subscriber/subscriber-dev.yaml

__pycache__/
old/
tak-server/
itak_config/
*.zip
*.zip*
*.p12
*.p12*
*.pem
*.pem*
*.key
*.key*
*.crt
*.crt*
CoreConfig.xml
db_password.txt
ca_password.txt
docker-compose*
make_pem.py
ca-password-secret.yaml
db-password-secret.yaml
.DS_Store